{{!< page}}

<main class="error-page">
  <h1>{{title}}</h1>

  <div class="info">
    <p>Requested URL: <code>{{req_url}}</code></p>
    <p class="txt-cap">status: <span class="txt-err">{{status}}</span></p>
    <a href="/" class="btn-link">go back</a>
  </div>
</main>
