/*----- Styles for built-in pages -----*/

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #1d1d1d;
}

h1 {
  color: #df6705;
  text-align: center;
}

code {
  background-color: rgba(128, 128, 128, 0.05);
  font-size: 1rem;
  border-radius: 2px;
  padding: 2px 4px;
}

a {
  text-decoration: none;
}

.btn-link {
  display: inline-block;
  margin-top: 6px;
  padding: 10px 16px;
  border-radius: 4px;
  color: white;
  background-color: #df6705;
  text-transform: capitalize;
  font-size: 14px;
  transform: translateY(0px);
  transition: all 0.2s ease-in;
}

.btn-link:hover {
  background-color: #f35a02;
  transform: translateY(1px);
}

.txt-cap {
  text-transform: capitalize;
}

.txt-err {
  color: #e53a3a;
}

.txt-ok {
  background-color: #41844f;
  color: white;
  padding: 0.2rem 0.3rem;
  font-weight: 500;
  border-radius: 0.15rem;
}

.info-health {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 4px solid #df6705;
  font-size: 14px;
}

.default-page {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  max-width: 1140px;
  border: 1px solid #df6705;
  border-top: 5px solid #df6705;
  border-radius: 4px;
  padding: 1.5rem 1rem;
  text-align: center;
}

.error-page {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  max-width: 1140px;
  border: 1px solid #df6705;
  border-top: 5px solid #df6705;
  border-radius: 4px;
  padding: 1.5rem 1rem;
}

@media screen and (max-width: 1280px) {
  .default-page,
  .error-page {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .default-page,
  .error-page {
    max-width: 800px;
  }
}
